@font-face {
    font-family:calypsoka;
    src: local(calypsoka_font), url('SaniesScript.ttf') format('opentype');
  }
body{
  color: #40514E;
margin: 0;
text-align: center;
font-family: 'Merriweather', serif;
}
.web{
  text-decoration: underline;
}
.topc{
position: absolute;

right: 300px;
top: 40px
}
.bc{
position: absolute;

left: 250px;
bottom: 400px

}
.top-container{
  padding-top: 100px;
  background-color: #d7fffd;

}
.myname{
/*font-family: 'Sacramento', cursive;*/
font-family:calypsoka;
  font-size: 3.125rem;
color: #16817a;
margin: 50px auto 0 auto;
}

h1,h2,h3{
  font-family: 'Montserrat', sans-serif;
  color: #16817a;
}
/*.a{
  width: 128px;
  height: 128px;
}*/

.hello{
  font-family: 'Sacramento', cursive;
  font-size: 3.125rem;
  color: #16817a;
}
.pra{
  color: #16817a;
  font-weight: normal;
  line-height: 2;
}

.footer-link,.btn{
  color: #16817a;
}
.skill-row{
  margin: 100px auto 100px auto;
  text-align: left;
  width: 50%;

}

.s{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.a{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.bottom-container{
  background-color:#16817a;
  padding: 40px;
}
.bottom-container p{
  color: white;
}
.footer-link{
  color: #8ec6c5;
  padding: 10px;
  text-decoration: none;
}
.footer-link:hover{
  color: white;
}
.contact-me{
  padding: 70px;
}
.btn {
	background-color:#11999e;
	border-radius:28px;
	border:1px solid #30e3cb;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:14px 49px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.btn:hover {
	background-color:#30e3cb;
}
.btn:active {
	position:relative;
	top:1px;
}

hr{
border-style: none;
border-top-style: dotted;
border-color: #EAF6F6;
border-width: 6px;
width: 4%;
margin: auto;

}
.intro{
  width: 30%;
  margin: auto;
  padding: 20px;
}
.b{
  margin-top: 50px;
}
p{
    line-height: 2;
}
.contact-msg{
  width: 40%;
  margin: 40px auto 60px;
}
